<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}{% if page.url != '/' %} | {{ meta.siteName }}{% endif %}</title>
  <link rel="stylesheet" href="/styles.css" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
  <!-- Main navigation -->
  <header>
    <nav aria-labelledby="main-navigation">
      <h2 id="main-navigation" class="sr-only">Main Navigation</h2> <!-- Screen reader-only heading for navigation -->
      {% include "nav.njk" %}
    </nav>
  </header>

 <main id="main">
    {{ content | safe }}
  </main>

  <!-- External links section -->
  <section>
    {% include "links.njk" %}
  </section>

  <!-- Footer -->
  <footer>
    <div>
      <p> • {{ meta.authorName }}</p>
    </div>
  </footer>

</body>
</html>
