<!DOCTYPE html>
<html lang="en">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-92JTV1EQK3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-92JTV1EQK3');
</script>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}{% if page.url != '/' %} | {{ meta.siteName }}{% endif %}</title>
  <meta name="description" content="{{ meta.siteDescription }}">
  <meta name="author" content="{{ meta.authorName }}">
  <meta name="keywords" content="PhD, Computer Science, Cambridge, {{ meta.siteName }}">
  <link rel="stylesheet" href="/styles.css" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ meta.siteDescription }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ meta.siteUrl }}{{ page.url }}">
  <meta property="og:image" content="/path/to/your/image.jpg">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ meta.siteDescription }}">
  <meta name="twitter:image" content="/path/to/your/image.jpg">

</head>
<body>
  <div id="contents">
    <!-- Main navigation -->
    <header>
      <nav aria-labelledby="main-navigation">
        <h2 id="main-navigation" class="sr-only">Main Navigation</h2> <!-- Screen reader-only heading for navigation -->
        {% include "nav.njk" %}
      </nav>
    </header>

    <main id="main">
      {{ content | safe }}
    </main>

    <!-- Footer -->
    <footer>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        {% include "links.njk" %}
        <span>{{ meta.authorName }}</span>
      </div>
    </footer>
  </div>
</body>
</html>
