---
layout: base.njk
---
<header>
  <h1>{{ title }}</h1>
</header>
<main>
  <article>
    {{ content | safe }}
  </article>

  <section>
    <h2>Papers</h2>
    {% for group, entries in collections.papers | groupby("section") %}
      <section>
        <h3>{{ group or "Other" }}</h3>
        <ul>
          {% for entry in entries %}
            <li>
              <strong>{{ entry.title }}</strong>
              {% if entry.url %}
                [<a href="{{ entry.url }}">link</a>]
              {% endif %}
              {% if entry.author %}
                {%- set first_author = entry.author.split(' and')[0] | replace('{', '') | replace('}', '') -%}
                {%- if ", " in first_author -%}
                  {# Format: Surname, Firstname ... #}
                  {%- set parts = first_author.split(", ") -%}
                  {{ parts[0] }}, {{ parts[1][0] }}.
                {%- elseif " " in first_author -%}
                  {# Format: Firstname Surname ... #}
                  {%- set parts = first_author.split(" ") -%}
                  {{ parts[parts.length - 1] }}, {{ parts[0][0] }}.
                {%- else -%}
                  {{ first_author }}
                {%- endif -%}
              {% endif %}
              {% if entry.year %} ({{ entry.year }}){% endif %}
              {% if entry.note %} — <em>{{ entry.note }}</em>{% endif %}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </section>

  <section>
    <h2>Books</h2>
    {% for group, entries in collections.books | groupby("section") %}
      <section>
        <h3>{{ group or "Other" }}</h3>
        <ul>
          {% for entry in entries %}
            <li>
              <strong>{{ entry.title }}</strong>
              {% if entry.url %}
                [<a href="{{ entry.url }}">link</a>]
              {% endif %}
              {% if entry.author %}
                {%- set first_author = entry.author.split(' and ')[0] | replace('{', '') | replace('}', '') -%}
                {%- if ", " in first_author -%}
                  {%- set parts = first_author.split(", ") -%}
                  {{ parts[0] }}, {{ parts[1][0] }}.
                {%- elseif " " in first_author -%}
                  {%- set parts = first_author.split(" ") -%}
                  {{ parts[parts.length - 1] }}, {{ parts[0][0] }}.
                {%- else -%}
                  {{ first_author }}
                {%- endif -%}
              {% endif %}
              {% if entry.year %} ({{ entry.year }}){% endif %}
              {% if entry.note %} — <em>{{ entry.note }}</em>{% endif %}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </section>

  <section>
    <h2>Blog Articles</h2>
    {% for group, entries in collections.articles | groupby("section") %}
      <section>
        <h3>{{ group or "Other" }}</h3>
        <ul>
          {% for entry in entries %}
            <li>
              <strong>{{ entry.title }}</strong>
              {% if entry.url %}
                [<a href="{{ entry.url }}">link</a>]
              {% endif %}
              {% if entry.author %}
                {%- set first_author = entry.author.split(' and ')[0] | replace('{', '') | replace('}', '') -%}
                {%- if ", " in first_author -%}
                  {%- set parts = first_author.split(", ") -%}
                  {{ parts[0] }}, {{ parts[1][0] }}.
                {%- elseif " " in first_author -%}
                  {%- set parts = first_author.split(" ") -%}
                  {{ parts[parts.length - 1] }}, {{ parts[0][0] }}.
                {%- else -%}
                  {{ first_author }}
                {%- endif -%}
              {% endif %}
              {% if entry.year %} ({{ entry.year }}){% endif %}
              {% if entry.note %} — <em>{{ entry.note }}</em>{% endif %}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </section>
</main>
