{% set currentUrl = page.url %}

  <ul role="list">
    <!-- Check if "Home" link is missing -->
    {% set hasHome = false %}
    {% for p in collections.pages %}
      {% if p.url == '/' %}
        {% set hasHome = true %}
      {% endif %}
    {% endfor %}

    {% if not hasHome %}
      <li>
        <a
          href="/"
          {% if currentUrl == '/' %}aria-current="page"{% endif %}>
          Home
        </a>
      </li>
    {% endif %}

    {% for p in collections.pages %}
      <li>
        <a
          href="{{ p.url }}"
          {% if currentUrl == p.url %}aria-current="page"{% endif %}
          title="{{ p.data.title }}">
          {{ p.data.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
